<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/app/super-admin-dashboard/1"></ion-back-button>
		</ion-buttons>

		<ion-title>List of Corporates</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-virtual-scroll [items]="listofcorporates">
		<ion-card *virtualItem="let item" (click)="navigate(item)">
			<ion-item-sliding>
				<ion-item lines="none" color="medium">
					<ion-label>
						<h4>{{ item.name }}</h4>
						<p>{{ item.details.address.line1 }}</p>
						<p>{{ item.details.address.pincode }}</p>
					</ion-label>
					<ion-icon name="arrow-forward" item-right [routerLink]="" routerDirection="forward"></ion-icon>
				</ion-item>

				<ion-item-options side="end">
					<ion-item-option>Favorite</ion-item-option>
					<ion-item-option color="danger">Share</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-card>
	</ion-virtual-scroll>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button [routerLink]="['/app/add-corporates']">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
