<div [formGroup]="phoneForm">
	<ion-item class="input-item">
		<ion-label position="stacked">Phone <ion-text color="danger">*</ion-text></ion-label>
		<ion-input type="text" placeholder="Phone" formControlName="phone" clearInput></ion-input>

		<div class="error-container">
			<ng-container *ngFor="let validation of validation_messages.phone">
				<div
					class="error-message"
					*ngIf="phoneControl.hasError(validation.type) && (phoneControl.dirty || phoneControl.touched)"
				>
					<ion-icon name="information-circle-outline"></ion-icon>
					<span>{{ validation.message }}</span>
				</div>
			</ng-container>
		</div>
	</ion-item>
</div>
