<div [formGroup]="form">
	<!-- <ion-input type="text" placeholder="Email" formControlName="phone" clearInput></ion-input>

	<div class="error-container">
		<ng-container *ngFor="let validation of validation_messages.email">
			<div
				class="error-message"
				*ngIf="emailControl.hasError(validation.type) && (emailControl.dirty || emailControl.touched)"
			>
				<ion-icon name="information-circle-outline"></ion-icon>
				<span>{{ validation.message }}</span>
			</div>
		</ng-container>
	</div> -->

	<ion-item class="input-item">
		<ion-label position="stacked">Name <ion-text color="danger">*</ion-text></ion-label>
		<ion-input required type="text" placeholder="Name" formControlName="name" clearInput></ion-input>
	</ion-item>

	<div class="error-container">
		<ng-container *ngFor="let validation of validation_messages.name">
			<div
				class="error-message"
				*ngIf="nameControl.hasError(validation.type) && (nameControl.dirty || nameControl.touched)"
			>
				<ion-icon name="information-circle-outline"></ion-icon>
				<span>{{ validation.message }}</span>
			</div>
		</ng-container>
	</div>
</div>
