.header {
	font-size: 18px;
	font-weight: 500;
	color: #555555;
	text-align: left;
}

ion-toolbar {
	--background-color: #f1f1f1;
}

ion-card-header {
	padding: 20px 20px 0px 20px;
}

.btn-style {
	padding-top: 10px;
}
