<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/app/list-corporates"></ion-back-button>
		</ion-buttons>

		<ion-title>Add a new Corporate</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="form-content" padding>
	<h2 class="auth-title">
		Add Corporate !
	</h2>
	<form focusInvalidInput [formGroup]="submitForm" (ngSubmit)="doSubmit()">
		<ion-list class="inputs-list" lines="full">
			<!-- <ion-item class="input-item">
				<ion-label position="floating">Name <ion-text color="danger">*</ion-text></ion-label>
				<ion-input required type="text" formControlName="name" clearInput></ion-input>
			</ion-item>

			<div class="error-container">
				<ng-container *ngFor="let validation of validation_messages.name">
					<div
						class="error-message"
						*ngIf="
							submitForm.get('name').hasError(validation.type) &&
							(submitForm.get('name').dirty || submitForm.get('name').touched)
						"
					>
						<ion-icon name="information-circle-outline"></ion-icon>
						<span>{{ validation.message }}</span>
					</div>
				</ng-container>
			</div> -->

			<!-- <div formGroupName="contacts"> -->
			<!-- <ion-item class="input-item">
					<ion-label position="stacked">Contacts <ion-text color="danger">*</ion-text></ion-label>
					<ion-input type="text" placeholder="Phone Number" formControlName="phone" clearInput></ion-input>

					<div class="error-container">
						<ng-container *ngFor="let validation of validation_messages.phone">
							<div
								class="error-message"
								*ngIf="
									submitForm.get('contacts.phone').hasError(validation.type) &&
									(submitForm.get('contacts.phone').dirty || submitForm.get('contacts.phone').touched)
								"
							>
								<ion-icon name="information-circle-outline"></ion-icon>
								<span>{{ validation.message }}</span>
							</div>
						</ng-container>
					</div> -->

			<!-- <ion-input type="text" placeholder="Email" formControlName="email" clearInput></ion-input>

					<div class="error-container">
						<ng-container *ngFor="let validation of validation_messages.email">
							<div
								class="error-message"
								*ngIf="
									submitForm?.get('contacts.email').hasError(validation.type) &&
									(submitForm?.get('contacts.email').dirty || submitForm?.get('contacts.email').touched)
								"
							>
								<ion-icon name="information-circle-outline"></ion-icon>
								<span>{{ validation.message }}</span>
							</div>
						</ng-container>
					</div> 
				</ion-item> -->
			<!-- </div> -->

			<app-name-form formControlName="name"></app-name-form>
			<app-phone-form formControlName="phone"></app-phone-form>
			<app-email-form formControlName="email"></app-email-form>

			<!-- <app-profile-form formControlName="profile"></app-profile-form> -->
			<app-address-form formControlName="address"></app-address-form>

			<!-- <div formGroupName="address">
				<ion-item class="input-item">
					<ion-label position="stacked">Address <ion-text color="danger">*</ion-text></ion-label>
					<ion-input type="text" placeholder="Line 1" formControlName="line1" clearInput></ion-input>

					<div class="error-container">
						<ng-container *ngFor="let validation of validation_messages.line1">
							<div
								class="error-message"
								*ngIf="
									submitForm.get('address.line1').hasError(validation.type) &&
									(submitForm.get('address.line1').dirty || submitForm.get('address.line1').touched)
								"
							>
								<ion-icon name="information-circle-outline"></ion-icon>
								<span>{{ validation.message }}</span>
							</div>
						</ng-container>
					</div>

					<ion-input type="text" placeholder="Line 2" formControlName="line2" clearInput></ion-input>

					<ion-input type="text" placeholder="Enter State" formControlName="state" clearInput></ion-input>

					<div class="error-container">
						<ng-container *ngFor="let validation of validation_messages.state">
							<div
								class="error-message"
								*ngIf="
									submitForm?.get('address.state').hasError(validation.type) &&
									(submitForm?.get('address.state').dirty || submitForm?.get('address.state').touched)
								"
							>
								<ion-icon name="information-circle-outline"></ion-icon>
								<span>{{ validation.message }}</span>
							</div>
						</ng-container>
					</div>

					<ion-input type="text" placeholder="Pincode" formControlName="pincode" clearInput></ion-input>

					<div class="error-container">
						<ng-container *ngFor="let validation of validation_messages.pincode">
							<div
								class="error-message"
								*ngIf="
									submitForm?.get('address.pincode').hasError(validation.type) &&
									(submitForm?.get('address.pincode').dirty || submitForm?.get('address.pincode').touched)
								"
							>
								<ion-icon name="information-circle-outline"></ion-icon>
								<span>{{ validation.message }}</span>
							</div>
						</ng-container>
					</div>
				</ion-item>
			</div> -->
		</ion-list>

		{{ this.responsemsg }}

		<ion-button class="signup-btn" type="submit" expand="block" [disabled]="!submitForm.valid"
			>Add Corporate</ion-button
		>
	</form>
</ion-content>
