:root {
	--ion-safe-area-top: 20px;
	--ion-safe-area-bottom: 22px;
}

.floatingbtn {
	z-index: 999;
	display: grid;
	grid-template-columns: 30px 1fr;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #295cf6;
	width: 120px;
	// DNDpadding gives a nice effect too
	//padding: 6px;
	padding: 0px 6px 0px 0px;
	border-radius: 50px;
	box-shadow: 0 1px 4px -1px rgba(10, 22, 50, 0.24);
}

.circ {
	height: 40px;
	width: 40px;
	background-color: #184fee;
	border-radius: 50%;
	display: grid;
	padding: 15px;
	align-items: self;
	align-items: center;
	display: grid;

	justify-content: center;
	align-content: center;
	font-size: 24px;
	color: #ffffff;
}

.enq {
	display: grid;
	justify-content: center;
	align-content: center;
	font-size: 14px;
	color: #ffffff;
}
