<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="dashboard">
			<ion-icon src="./assets/sample-icons/tabs/categories.svg"></ion-icon>
			<ion-label class="tab-title">Dashboard</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="profile">
			<ion-icon src="./assets/sample-icons/tabs/profile.svg"></ion-icon>
			<ion-label class="tab-title">Profile</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="notifications">
			<ion-icon src="./assets/sample-icons/tabs/notifications.svg"></ion-icon>
			<ion-label class="tab-title">Notifications</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="settings">
			<ion-icon src="./assets/sample-icons/tabs/notifications.svg"></ion-icon>
			<ion-label class="tab-title">Settings</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
