<div [formGroup]="form">
	<ion-label position="stacked">Address <ion-text color="danger">*</ion-text></ion-label>
	<ion-item class="input-item">
		<ion-input type="text" placeholder="Line 1" formControlName="line1" clearInput></ion-input>
	</ion-item>
	<div class="error-container">
		<ng-container *ngFor="let validation of validation_messages.line1">
			<div
				class="error-message"
				*ngIf="line1Control.hasError(validation.type) && (line1Control.dirty || line1Control.touched)"
			>
				<ion-icon name="information-circle-outline"></ion-icon>
				<span>{{ validation.message }}</span>
			</div>
		</ng-container>
	</div>

	<ion-item class="input-item">
		<ion-input type="text" placeholder="Line 2" formControlName="line2" clearInput></ion-input>
	</ion-item>

	<div class="error-container">
		<ng-container *ngFor="let validation of validation_messages.line2">
			<div
				class="error-message"
				*ngIf="line2Control.hasError(validation.type) && (line2Control.dirty || line2Control.touched)"
			>
				<ion-icon name="information-circle-outline"></ion-icon>
				<span>{{ validation.message }}</span>
			</div>
		</ng-container>
	</div>

	<ion-item class="input-item">
		<ion-input type="text" placeholder="Enter State" formControlName="state" clearInput></ion-input>
	</ion-item>

	<div class="error-container">
		<ng-container *ngFor="let validation of validation_messages.state">
			<div
				class="error-message"
				*ngIf="stateControl.hasError(validation.type) && (stateControl.dirty || stateControl.touched)"
			>
				<ion-icon name="information-circle-outline"></ion-icon>
				<span>{{ validation.message }}</span>
			</div>
		</ng-container>
	</div>

	<ion-item class="input-item">
		<ion-input type="text" placeholder="Pincode" formControlName="pincode" clearInput></ion-input>
	</ion-item>
	<div class="error-container">
		<ng-container *ngFor="let validation of validation_messages.pincode">
			<div
				class="error-message"
				*ngIf="pincodeControl.hasError(validation.type) && (pincodeControl.dirty || pincodeControl.touched)"
			>
				<ion-icon name="information-circle-outline"></ion-icon>
				<span>{{ validation.message }}</span>
			</div>
		</ng-container>
	</div>
</div>

<!-- 


<ion-input type="text" placeholder="Enter State" formControlName="state" clearInput></ion-input>

<div class="error-container">
	<ng-container *ngFor="let validation of validation_messages.state">
		<div
			class="error-message"
			*ngIf="
				submitForm?.get('address.state').hasError(validation.type) &&
				(submitForm?.get('address.state').dirty || submitForm?.get('address.state').touched)
			"
		>
			<ion-icon name="information-circle-outline"></ion-icon>
			<span>{{ validation.message }}</span>
		</div>
	</ng-container>
</div> -->
