.switch {
	position: relative;
	display: block;
	width: 60px;
	height: 37px;
	margin-bottom: 30px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	transition: 0.5s;
	border: 3px solid #333333;
	//box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.slider:before {
	position: absolute;
	content: "";
	bottom: 14px;
	top: 5px;
	background-color: #333333;
	transition: 0.5s;
}

input:checked + .slider {
	background-color: black;
}

input:checked + .slider:before {
	transform: translateX(35px) rotateZ(45deg);
	background: yellow;
}

.slider.round {
	border-radius: 35px;
}

.slider.round:before {
	width: 40%;
	height: 40%;
	border-top-left-radius: 55px;
	border-top-right-radius: 55px;
	transform: rotatez(-45deg);
}

.test2 {
	color: red;
	background-color: yellow;
}