<ion-header>
	<ion-toolbar>
		<ion-title>animated-div</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content style="--background:#000">
	<div class="square">
		<span></span>
		<span></span>
		<span></span>
		<div class="content">
			<h2>Post Title</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nihil nulla consequatur iure molestiae
				aliquid maxime ipsam aspernatur a, exercitationem mollitia doloribus neque consectetur corporis,
				similique illo suscipit quasi dignissimos.
			</p>
			<a href="#"> Read More</a>
		</div>
	</div>
</ion-content>
