/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// EXTRA GLOBAL STYLES
// Add custom Ionic Colors
@import "./theme/custom-ion-colors.scss";
// Add base app styles
@import "./theme/app-defaults.scss";
// Add base shell styles
@import "./theme/shell-defaults.scss";

@import "./theme/variables.scss";

.modalCss {
	--background: blueviolet;
	--min-width: 300px;
	--height: 50%;
	--max-height: 50%;
	--border-radius: 50px;
}

.custom-loader-class {
	--background: #f4b004;
	--spinner-color: #f94701;
}

// .can-go-back header-component ion-back-button {
// 	display: block;
//   }

.ion-color-transparent {
	--ion-color-base: var(--ion-color-transparent) !important;
	--ion-color-base-rgb: var(--ion-color-transparent-rgb) !important;
	--ion-color-contrast: var(--ion-color-transparent-contrast) !important;
	--ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb) !important;
	--ion-color-shade: var(--ion-color-transparent-shade) !important;
	--ion-color-tint: var(--ion-color-transparent-tint) !important;
}

// DND ALL (including commented lines - START

// select-modal is a cssClass in component. css only works when its in global.css
// select-modal adds somemore styling to the modal window

.select-modal {
	.modal-wrapper {
		width: 600px;
		left: calc(50% - (600px / 2));
		height: 500px;
		top: calc(50% - (500px / 2));
	}
}

// creates backdrop
ion-modal {
	padding: 30px;
	background: rgba(0, 0, 0, 0.5);
	ion-content {
		border-radius: 25px;
	}
}

.select-modal {
	--background: #f4b004;
}

// DND - END

.box {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-shadow: 0 2px 30px rgba(black, 0.2);
	background: lighten(#f0f4c3, 10%);
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}

.wave {
	opacity: 0.4;
	position: absolute;
	top: 3%;
	left: 50%;
	background: #0af;
	width: 500px;
	height: 500px;
	margin-left: -250px;
	margin-top: -250px;
	transform-origin: 50% 48%;
	border-radius: 43%;
	animation: drift 3000ms infinite linear;
}

.wave.-three {
	animation: drift 2500ms infinite linear;
}

.wave.-two {
	animation: drift 5000ms infinite linear;
	opacity: 0.1;
	background: yellow;
}

.box:after {
	content: "";
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, 0.5));
	z-index: 11;
	transform: translate3d(0, 0, 0);
}

.title {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	line-height: 300px;
	text-align: center;
	transform: translate3d(0, 0, 0);
	color: white;
	text-transform: uppercase;
	font-family: "Playfair Display", serif;
	letter-spacing: 0.4em;
	font-size: 24px;
	text-shadow: 0 1px 0 rgba(black, 0.1);
	text-indent: 0.3em;
}
@keyframes drift {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

